footer{
    padding: 20px 0;
    background: #b71719;
    
    
    
}
footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    
}
footer ul a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}
footer ul li{
     display: inline-block;
    padding: 8px;
}
footer ul li a:hover{
    opacity:1;
}
footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}